---
// src/pages/index.astro
import Base from "../layouts/Base.astro";
---
<Base title="Baby Recipes">
  <h1>Baby Recipes</h1>
  <p>Conteúdo estático a partir de Markdown/JSON com filtros e impressão.</p>
  <p><a class="button" href="/recipes">Explorar receitas</a></p>
</Base>
