---
// src/layouts/Base.astro
import "../styles/base.css";
const { title = "Baby Recipes" } = Astro.props;
---
<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <title>{title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <main>
      <slot />
    </main>
  </body>
</html>
